@model Shift_Planner_Web.Models.Shift

<h1>Delete Shift</h1>

<p>
    Are you sure you want to delete
    <strong>@Model.Employee?.Name s shift</strong>?
</p>

<form asp-action="Delete" method="post">

    <input asp-for="ShiftID" type="hidden" />

    <button type="submit"
            class="btn btn-danger">
        Delete
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Cancel
    </a>

</form>