@using Shift_Planner_Web.Models
@model Shift_Planner_Web.Models.Employee

<h1>Create Employee</h1>

<form asp-action="Create" method="post">
   
    <div asp-validation-summary="All"
         class="text-danger">
    </div>

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name"
               class="form-control" />

       <span asp-validation-for="Name"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email"></label>

        <input asp-for="Email"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="WeeklyHours"></label>
        <input asp-for="WeeklyHours"
               class="form-control" />

        <span asp-validation-for="WeeklyHours"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate"
               class="form-control" />

        <span asp-validation-for="StartDate"
              class="text-danger"></span>
    </div>

   <div class="mb-3">
       <label asp-for="Role"></label>

       <select asp-for="Role" class="form-select" asp-items="Html.GetEnumSelectList<EmployeeRole.Role>()">
       </select>

        <span asp-validation-for="Role"
              class="text-danger"></span>
   </div>

    <button type="submit"
            class="btn btn-success">
        Save Employee
    </button>

</form>